NODE_ENV=development
PORT=4000 #incase you change this port remember to do the same on frontend .env file

DB_HOST=127.0.0.1
DB_PORT=5433  # Usually this port is 5432, change it based on which port your postgres uses.
DB_NAME=bank_licensing
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=24h

LOG_LEVEL=info

UPLOAD_DIR=data/files
MAX_FILE_SIZE=5242880
